/**
Common START
 */
body {
    padding: 86px 0 0 0;
    margin: 0;
    background-color: #ffffff;
    color: #621327;
    overflow-x: hidden;
}
body, p, a {
    font-family: 'Montserrat', sans-serif;
}
h1, h2 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
h1 {
    margin: 20px 0;
    font-size: 40px;
    line-height: 60px;
}
h2 {
    font-size: 20px;
    line-height: 30px;
}
a {
    text-decoration: none;
}
body img {
    max-width: 100%;
    border: none;
    outline: none;
}
body img {
    max-width: 100%;
}
body p {
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: all 0.2s linear;
}
.row-full-width {
    margin-left: -10px;
    margin-right: -10px;
}
.layout.horizontal, .layout.vertical {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.layout.horizontal {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.layout.vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.layout.center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.flex-none {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}
.self-end {
    align-self: flex-end;
}
.margin-l-auto {
    margin-left: auto;
}
.text-center {
    text-align: center;
}
/**
Common END
 */

/**
Header START
 */
.header {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 86px;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 10;
}
.header .logo {
    width: 140px;
    display: block;
}
.menu-container {
    width: 100%;
    height: 100%;
    padding: 23px 10px 0;
    background-color: #ffffff;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100vw);
    transition: transform 0.1s linear;
}
.menu-container.active {
    transform: translateX(0);
    transition: transform 0.2s linear;
}
.menu {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.menu > li {
    border-bottom: 1px solid;
    cursor: pointer;
}
ul.menu > li > a {
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
.menu-icon {
    font-size: 32px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}
.close-icon {
    font-size: 64px;
    font-weight: 100;
}
/**
Header END
 */

/**
Hero START
 */
.hero {
    background: url("../img/screen/small/pizzanini-hero-small.png") no-repeat;
    background-size: cover;
    height: 240px;
    background-position-y: bottom;
}
/**
Hero END
 */

/**
Section common START
 */
.section {
    padding: 30px 10px;
}
.section .title {
    margin-top: 0;
    margin-bottom: 0;
}
.section .subtitle {
    margin-top: 0;
    margin-bottom: 30px;
}
.section p {
    margin-bottom: 20px;
}
/**
Section common END
 */

/**
Restaurant START
 */
.restaurant {
    padding: 76px 10px 40px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
.restaurant .logo {
    width: 145px;
}
.restaurant .title {
    margin: 0;
    font-size: 45px;
    line-height: 66px;
    color: #ffffff;
}
.restaurant .link {
    padding: 8px 18px;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    margin-top: 40px;
    display: inline-block;
}
.restaurant .link:hover {
    background-color: #ffffff;
    color: inherit;
    transition: all 0.2s linear;
}
.bekkestua {
    background-image: url("../img/screen/small/bekkestua-small.png");
}
.fredrikstad {
    background-image: url("../img/screen/small/fredrikstad-small.png");
}
.hamar {
    background-image: url("../img/screen/small/hamar-small.png");
}
.horten {
    background-image: url("../img/screen/small/horten-small.png");
}
.sarpsborg {
    background-image: url("../img/screen/small/sarpsborg-small.png");
}
.gjovik {
    background-image: url("../img/screen/small/gjovik-small.png");
}
/**
Restaurant END
 */

/**
Om Oss START
 */
.om-oss {
    padding-top: 20px;
    position: relative;
}
.since-1972 {
    width: 90px;
    position: absolute;
    bottom: -30px;
    right: 15px;
}
/**
Om Oss END
 */

/**
Franchise START
 */
.franchise {
    background: #621327 url("../img/screen/small/franchise-small.png") no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position-y: bottom;
    height: 260px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
}
.franchise .subtitle {
    margin-bottom: 30px;
}
.section.franchise p {
    margin-bottom: 0;
    font-weight: bold;
}
/**
Franchise END
 */

/**
Footer START
 */
.footer {
    padding: 60px 40px 20px 40px;
    background-color: #621327;
}
.footer p {
    color: #D02743;
    font-size: 12px;
    text-transform: uppercase;
}
.social {
    margin-bottom: 20px;
}
.social-icon {
    width: 50px;
}
.twitter-icon {
    margin-right: 10px;
}
.address {
    width: 340px;
    margin: auto;
}
.address p {
    margin-bottom: 0;
}
/**
Footer END
 */

/**
Media queries START
 */
@media only screen and (min-width: 601px) {
    h1 {
        font-size: 70px;
        line-height: 100px;
    }
    h2 {
        font-size: 36px;
        line-height: 54px;
    }
    body p {
        font-size: 16px;
        line-height: 24px;
    }
    .hidden-m {
        display: none;
    }
    .visible-m {
        display: block;
    }
    .col {
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }
    .col.m6 {
        width: 50%;
    }
    .row-full-width {
        margin-left: -5px;
        margin-right: -5px;
    }
    .header .logo {
        width: 190px;
    }
    .menu-icon {
        font-size: 42px;
        width: 42px;
        height: 42px;
        line-height: 42px;
    }
    .close-icon {
        font-size: 84px;
    }
    .menu-container {
        width: 80%;
    }
    ul.menu > li > a {
        height: 40px;
        line-height: 40px;
    }
    .hero {
        background-image: url("../img/screen/medium/pizzanini-hero-medium.png");
        height: 335px;
    }
    .bekkestua {
        background-image: url("../img/screen/medium/bekkestua-medium.png");
    }
    .fredrikstad {
        background-image: url("../img/screen/medium/fredrikstad-medium.png");
    }
    .hamar {
        background-image: url("../img/screen/medium/hamar-medium.png");
    }
    .horten {
        background-image: url("../img/screen/medium/horten-medium.png");
    }
    .sarpsborg {
        background-image: url("../img/screen/medium/sarpsborg-medium.png");
    }
    .gjovik {
        background-image: url("../img/screen/medium/gjovik-medium.png");
    }
    .franchise {
        background-image: url("../img/screen/medium/franchise-medium.png");
        height: 320px;
    }
    .restaurant {
        padding-top: 100px;
        padding-bottom: 45px;
    }
    .restaurant .logo {
        width: 160px;
    }
    .restaurant .title {
        font-size: 55px;
        line-height: 80px;
    }
    .restaurant .link {
        width: 155px;
        height: 50px;
        line-height: 50px;
        padding: 0;
        margin-top: 50px;
    }
    .section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .om-oss {
        padding: 40px 60px 100px;
    }
    .since-1972 {
        width: 160px;
        bottom: -40px;
        right: 55px;
    }
    .franchise {
        height: 320px;
    }
    .franchise h2 {
        margin-bottom: 100px;
    }
    .footer {
        padding-top: 80px;
    }
    .footer p {
        font-size: 14px;
        line-height: 26px;
    }
    .social-icon {
        width: 60px;
    }
    .address {
        width: auto;
    }
}

@media only screen and (min-width: 993px) {
    body {
        padding-top: 122px;
    }
    h1 {
        font-size: 90px;
        line-height: 132px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 48px;
        line-height: 70px;
    }
    body p {
        font-size: 20px;
        line-height: 32px;
    }
    .hidden-l {
        display: none;
    }
    .col.l4 {
        width: 33.3333333333%;
    }
    .header {
        height: 122px;
    }
    .header .logo {
        width: 231px;
    }
    .menu-container {
        width: 100%;
        padding: 0;
        background-color: transparent;
        position: relative;
        transform: unset;
        transition: unset;
    }
    ul.menu > li {
        padding: 10px 20px;
        border: none;
        display: inline-block;
    }
    ul.menu >li a {
        height: auto;
        padding: 0;
        font-size: 22px;
        line-height: 26px;
    }
    .restaurant {
        padding-top: 120px;
        padding-bottom: 50px;
    }
    .restaurant .logo {
        width: 200px;
    }
    .restaurant .title {
        font-size: 70px;
        line-height: 100px;
    }
    .restaurant .link {
        width: 194px;
        height: 64px;
        line-height: 64px;
        margin-top: 65px;
        font-size: 24px;
    }
    .section {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .section .subtitle {
        margin-bottom: 50px;
    }
    .section p {
        margin-bottom: 30px;
    }
    .om-oss {
        padding-left: 220px;
        padding-right: 220px;
    }
    .since-1972 {
        width: 212px;
        bottom: -80px;
        right: 96px;
    }
    .franchise .subtitle {
        margin-bottom: 86px;
    }
    .footer {
        padding-top: 140px;
        padding-bottom: 60px;
    }
    .social {
        margin-bottom: 40px;
    }
    .social-icon {
        width: 80px;
    }
    .footer p {
        font-size: 22px;
        line-height: 32px;
    }
    .hero {
        background-image: url("../img/screen/large/pizzanini-hero-large.png");
        height: 660px;
    }
    .bekkestua {
        background-image: url("../img/screen/large/bekkestua-large.png");
    }
    .fredrikstad {
        background-image: url("../img/screen/large/fredrikstad-large.png");
    }
    .hamar {
        background-image: url("../img/screen/large/hamar-large.png");
    }
    .horten {
        background-image: url("../img/screen/large/horten-large.png");
    }
    .sarpsborg {
        background-image: url("../img/screen/large/sarpsborg-large.png");
    }
    .gjovik {
        background-image: url("../img/screen/large/gjovik-large.png");
    }
    .franchise {
        background-image: url("../img/screen/large/franchise-large.png");
        height: 475px;
    }
}

@media only screen and (min-width: 1400px) {
    .franchise {
        height: 496px;
    }
}
/**
Media queries END
 */
